<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Parameters -->
  <xacro:property name="base_length" value="0.18"/>
  <xacro:property name="base_width" value="0.16"/>
  <xacro:property name="base_height" value="0.18"/>

  <!-- Base footprint -->
  <link name="base_footprint"/>

  <!-- Base link -->
  <link name="base_link">
    
    <!-- Visual (what you see in RViz) -->
    <visual>
      <geometry>
        <mesh filename="package://description/meshes/my_turtlebot.stl"
              scale="1 1 1"/>
      </geometry>
      <origin xyz="0 0 ${base_height/2}" rpy="0 0 0"/>
    </visual>

    <!-- Collision (what Nav2 uses!) -->
    <collision>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
       <origin xyz="0 0 ${base_height/2}" rpy="0 0 0"/>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <!-- LiDAR -->
  <link name="laser_frame">
  </link>

  <joint name="laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser_frame"/>
    <origin xyz="0 0 ${base_height}" rpy="0 0 0"/>
  </joint>

</robot>